<div class="d-flex flex-column min-vh-100">
    <div class="navbar-container">
        <app-client-navbar></app-client-navbar>
    </div>

    <div class="main-container">
        <div class="header-container">
            <h5>Your Booking</h5>
        </div>

        <div class="search-bar-container">
            <div class="input-group">
                <input type="text" class="form-control form-control-sm search-input">
                <button class="btn btn-sm search-btn" type="button">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </div>

        <div class="content-container">

            <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
                <li [ngbNavItem]="1">
                    <button ngbNavLink>Incoming</button>
                    <ng-template ngbNavContent>
                        <table class="table table-striped">
                            <thead>
                                <tr class="table-heading-row">
                                    <th scope="col" class="text-start start-padding">Booking No</th>
                                    <th scope="col" class="text-center">Start Time</th>
                                    <th scope="col" class="text-center">Booking Date</th>
                                    <th scope="col" class="text-center">Payment Status</th>
                                    <th scope="col" class="text-center">Note</th>
                                    <th scope="col" class="text-end end-padding">More Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let iItem of incomingList">
                                    <td class="text-start start-padding">#clb{{iItem.Id}}</td>
                                    <td class="text-center">{{iItem.startingTime}}</td>
                                    <td class="text-center">{{iItem.bookingDate}}</td>
                                    <td class="text-center"><span *ngIf="iItem.isPaid" class="badge bg-success">Complete</span><span *ngIf="!iItem.isPaid" class="badge bg-danger">Incomplete</span></td>
                                    <td class="text-center">{{iItem.clientNote}}</td>
                                    <td class="text-end end-padding"><button type="button"
                                            class="btn btn-sm view-button">view</button></td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="d-flex justify-content-between p-2">
                            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                                (pageChange)="refreshBooking()">
                            </ngb-pagination>

                            <select class="form-select form-select-sm" style="width: auto" [(ngModel)]="pageSize"
                                (ngModelChange)="refreshBooking()">
                                <option [ngValue]="2">2 items per page</option>
                                <option [ngValue]="4">4 items per page</option>
                                <option [ngValue]="6">6 items per page</option>
                            </select>
                        </div>
                    </ng-template>
                </li>
                <li [ngbNavItem]="2">
                    <button ngbNavLink>Completed</button>
                    <ng-template ngbNavContent>
                        <table class="table table-striped">
                            <thead>
                                <tr class="table-heading-row">
                                    <th scope="col" class="text-start start-padding">Booking No</th>
                                    <th scope="col" class="text-center">Completed Time</th>
                                    <th scope="col" class="text-center">Completed Date</th>
                                    <th scope="col" class="text-center">Payment Status</th>
                                    <th scope="col" class="text-center">Note</th>
                                    <th scope="col" class="text-end end-padding">More Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let iItem of completedList">
                                    <td class="text-start start-padding">#clb{{iItem.Id}}</td>
                                    <td class="text-center">{{iItem.startingTime}}</td>
                                    <td class="text-center">{{iItem.bookingDate}}</td>
                                    <td class="text-center"><span *ngIf="iItem.isPaid" class="badge bg-success">Complete</span><span *ngIf="!iItem.isPaid" class="badge bg-danger">Incomplete</span></td>
                                    <td class="text-center">{{iItem.clientNote}}</td>
                                    <td class="text-end end-padding"><button type="button"
                                            class="btn btn-sm view-button">view</button></td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="d-flex justify-content-between p-2">
                            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                                (pageChange)="refreshBooking()">
                            </ngb-pagination>

                            <select class="form-select form-select-sm" style="width: auto" [(ngModel)]="pageSize"
                                (ngModelChange)="refreshBooking()">
                                <option [ngValue]="2">2 items per page</option>
                                <option [ngValue]="4">4 items per page</option>
                                <option [ngValue]="6">6 items per page</option>
                            </select>
                        </div>
                    </ng-template>
                </li>

                <li [ngbNavItem]="3">
                    <button ngbNavLink>Cancelled</button>
                    <ng-template ngbNavContent>
                        <table class="table table-striped">
                            <thead>
                                <tr class="table-heading-row">
                                    <th scope="col" class="text-start start-padding">Booking No</th>
                                    <th scope="col" class="text-center">Start Time</th>
                                    <th scope="col" class="text-center">Booking Date</th>
                                    <th scope="col" class="text-center">Payment Status</th>
                                    <th scope="col" class="text-center">Note</th>
                                    <th scope="col" class="text-center">Cancelled Date</th>
                                    <th scope="col" class="text-end end-padding">More Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let iItem of cancelledList">
                                    <td class="text-start start-padding">#clb{{iItem.Id}}</td>
                                    <td class="text-center">{{iItem.startingTime}}</td>
                                    <td class="text-center">{{iItem.bookingDate}}</td>
                                    <td class="text-center"><span *ngIf="iItem.isPaid" class="badge bg-success">Complete</span><span *ngIf="!iItem.isPaid" class="badge bg-danger">Incomplete</span></td>
                                    <td class="text-center">{{iItem.clientNote}}</td>
                                    <td class="text-center">2024-11-1</td>
                                    <td class="text-end end-padding"><button type="button"
                                            class="btn btn-sm view-button">view</button></td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="d-flex justify-content-between p-2">
                            <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
                                (pageChange)="refreshBooking()">
                            </ngb-pagination>

                            <select class="form-select form-select-sm" style="width: auto" [(ngModel)]="pageSize"
                                (ngModelChange)="refreshBooking()">
                                <option [ngValue]="2">2 items per page</option>
                                <option [ngValue]="4">4 items per page</option>
                                <option [ngValue]="6">6 items per page</option>
                            </select>
                        </div>
                    </ng-template>
                </li>
            </ul>

            <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
    </div>

    <div class="footer-container">
        <app-inside-footer></app-inside-footer>
    </div>
</div>