<div class="d-flex flex-column min-vh-100">
    <div class="navbar-container">
        <app-client-navbar></app-client-navbar>
    </div>

    <div class="main-container">
        <div class="sub-container">
            <div class="row pt-2">
                <div class="col">
                    <h5>Mawella Lagoon Boat Tours</h5>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col d-flex">
                    <div class="rating"><i class="bi bi-star-fill"></i>
                        <p>4.6</p>
                    </div>
                    <div class="reviews"><i class="bi bi-info-circle-fill"></i>
                        <p>14 reviews</p>
                    </div>
                    <div class="location"><i class="bi bi-geo-fill"></i>
                        <p>Moraketiara, Sri Lanka</p>
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <div class="col">
                    <div class="photo-container">
                        <img src="../../../../assets/service.jpg" alt="Logo" />
                    </div>
                </div>
            </div>

            <div class="row d-flex justify-content-between">
                <div class="section-1">
                    <div style="width: 100%;">
                        <hr>
                        <h6>Description</h6>
                        <p style="font-size: 0.8em;">{{description}}</p>
                    </div>

                    <div style="width: 100%;">
                        <hr>
                        <h6>Conditions</h6>
                        <p style="font-size: 0.9em;">{{conditions}}</p>
                        <ul style="font-size: 0.8em;">
                            <li>All guests must wear a life jacket at all times while on the boat.</li>
                            <li>Guests should not stand or move around when the boat is in motion to ensure safety.</li>
                            <li>No food or drinks are allowed on the boat to prevent spills and maintain cleanliness.
                            </li>
                        </ul>
                    </div>

                    <div style="width: 100%;">
                        <hr>
                        <h6 class="mb-2">What we offer</h6>
                        <div class="row mb-2">
                            <div class="col d-flex">
                                <i style="font-size: 2em; color: rgb(25, 170, 102);" class="bi bi-camera-fill"></i>
                                <p style="font-size: 0.9em;" class="mt-3 ms-2">Photography</p>
                            </div>
                            <div class="col d-flex">
                                <i style="font-size: 2em; color: rgb(25, 170, 102);" class="bi bi-pin-map-fill"></i>
                                <p style="font-size: 0.9em;" class="mt-3 ms-2">Island Transfer</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6 d-flex">
                                <i style="font-size: 2em; color: rgb(25, 170, 102);" class="bi bi-person-arms-up"></i>
                                <p style="font-size: 0.9em;" class="mt-3 ms-2">Life Jacket</p>
                            </div>
                        </div>
                    </div>

                    <div style="width: 100%;">
                        <hr>
                        <div class="row">
                            <div class="col d-flex">
                                <p style="font-size: 0.9em;">Service Time</p>

                                <p style="font-size: 0.8em; font-weight: bold; margin-left: 5px;">{{sStartTime}}</p>
                                <p style="font-size: 0.8em; margin-left: 5px; margin-right: 5px;">to</p>
                                <p style="font-size: 0.8em; font-weight: bold;">{{sEndTime}}</p>
                            </div>

                            <div class="col-12">
                                <p style="font-size: 0.9em; margin-bottom: 5px;">Availability</p>
                            </div>

                            <div class="col-12 mb-4">
                                <div class="week-days">
                                    <div *ngFor="let item of serviceDays" class="day">{{item}}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="section-2">
                    <div style="width: 100%;">
                        <h6 class="pt-3">Package</h6>
                        <div class="col-md-12">
                            <label for="exampleSelect" class="form-label">Select Package</label>
                            <select class="form-select" id="exampleSelect" name="selectedPackage"
                                [(ngModel)]="selectedPackage">
                                <option disabled selected [value]="null">Select package</option>
                                <option *ngFor="let item of packageList" [value]="item.packageId">{{item.packageName}} -
                                    {{item.price}} ({{item.duration}} min)</option>
                            </select>
                        </div>
                    </div>

                    <div style="width: 100%;">
                        <hr>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="dateInput" class="form-label mb-3">Date</label>
                                <input type="date" class="form-control" name="selectedDate" [(ngModel)]="selectedDate"
                                    id="dateInput">
                            </div>

                            <div class="col-md-6" style="display: flex; justify-content: flex-end;">
                                <label for="dateInput" class="form-label mb-0 me-3">Start Time</label>
                                <ngb-timepicker [(ngModel)]="startTime" />
                            </div>
                        </div>
                    </div>

                    <div style="width: 100%;">
                        <div class="col-md-12">
                            <label for="exampleSelect" class="form-label">Note</label>
                            <input type="text" class="form-control" name="note" [(ngModel)]="note" placeholder="Note">
                        </div>
                    </div>

                    <div style="width: 100%; margin-top: 15px;">
                        <div class="col-md-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="isPaid" [(ngModel)]="isPaid"
                                    id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Is Payment Success
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="mt-3" style="width: 100%;">
                        <button type="button" class="btn btn-sm" (click)="createClientBooking()"
                            style="background-color: rgb(252, 79, 79); color: #fff; font-weight: 400; width: 100%;">Reserve</button>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="footer-container">
        <app-inside-footer></app-inside-footer>
    </div>
</div>